ADZUNA_ID="adzuna developer id"
ADZUNA_KEY="adzuna developer key"
TO_EMAIL="gmail to send jobs"
FROM_EMAIL="gmail account that will send the emails"
FROM_PASSWORD="password for FROM_EMAIL"
APP_PASSWORD="FROM_EMAIL app password to bypass security"
SUPABASE_KEY="supabase anon key for database access"
SUPABASE_URL="supabase project address"